.otpBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .MuiOtpInput-TextField:focus {
        border-color: #FBB30B;
    }
}
.custom-confirm-button {
    background-color: #ff0000; /* Replace with your desired color */
    color: #ffffff; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor */
  }
  
  .custom-confirm-button:hover {
    background-color: #cc0000; /* Darker color on hover */
  }
  
  

@media (min-width: 0px) and (max-width: 1199px) {
    .otpTimer {
        flex-direction: column;
        justify-content: center;
    }

    .otpBox {
        .MuiOtpInput-TextField {
            width: 20% !important;
        }
    }

    .verifyLg {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .otpTimer {
        justify-content: center !important;
        align-items: center !important;
    }

    .otpBox {
        .MuiOtpInput-TextField {
            width: 10% !important;
        }
    }

    .verifyMd {
        display: none !important;
    }
}