* {
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #f5f7f8;
}

:root {
  --primary-green: #1baa64;
  --dark-green: #06402b;
  --black: #2f3645;
  --white: #f5f7f8;
  --grey: #b7b7b7;
  --light-grey: #eaeaea;
  --red: #d9534f;
  --yellow: #fcc737;
  --header-height: 6.4rem;
  --side-margin: 5.5rem;
}

@font-face {
  font-family: WhyteInktrap;
  src: url("/src/assets/fonts/WhyteInktrap.ttf");
}

@font-face {
  font-family: GuthenBloots;
  src: url("/src/assets/fonts/GuthenBloots.ttf");
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
